<div class="card cardstyle" style="width: 35rem;margin-left: 500px;">
  <!-- <img class="card-img-top" src="{{data.profile_pic}}" alt="Card image cap"> -->
  <div class="card-body">
    <h3 class="card-title">{{data.employee_Name}}</h3>
    <div class="card-text">
                  <h5>{{data.EmployeeId}}</h5> 
                  <div><b>Email :</b> &nbsp;&nbsp;&nbsp;&nbsp;{{data.email}}</div>
                  <div><b>Contact Number : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.contact_Number}}</div>
                  <div><b>Emergency Contact Number : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.emergency_Contact_Number}}</div>
                  <div><b>Address : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.address}}</div>
                  <div><b>Designation : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.position}}</div>
                  <!-- <div><b>Qualification : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.qualification}}</div> -->
                  <div><b>Date of Birth: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data. dOB}}</div>
                  <!-- <div><b>Gender: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.gender}}</div> -->
                  <div><b>Marital Status : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data. martial_Status}}</div>
                  <div><b>Blood Group : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.blood_Group}}</div>
                  <div><b>Work Location : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.work_Location}}</div>
                  <div><b>Department : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.job_Title}}</div>
                  <div><b>Date of Joining :</b> &nbsp;&nbsp;&nbsp;&nbsp;{{data.date_Of_Joining}}</div>
                  <div><b>Reporting To : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.reporting_To}}</div>
                  <div><b>Linkedin link : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.linkedin_Link}}</div>
    </div><br>
    <br>
    <a  routerLink="/admin" class="btn btn-primary"><-- Back</a>
  </div>
</div>
