<div class="card cardstyle" style="width: 30rem;margin-left: 550px;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h3 class="card-title">{{data.emp_name}}</h3>
      <div class="card-text ">
                    <h5>{{data.user}}</h5> 
                    <div><b>Apply Date:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{data.apply_date}}</div>
                    <div><b>Nature of Leave : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.nature_of_leave}}</div>
                    <div><b>Start Date : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.first_Day}}</div>
                    <div><b>End Date : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.last_Day}}</div>
                    <div><b>No. of days of leave : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.number_Of_Days}}</div>
                    <div><b>Status : </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.status}}</div>
      </div><br><br>
      <a  routerLink="/employee" class="btn btn-primary"><-- Back</a>
    </div>
  </div>
  